<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h3>Create Todolist and share it with anyone!</h3>
    </div>
  </div>
  <form [formGroup]="createTodolistForm" (submit)="createTodolist()">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Members" formControlName="members" multiple>
            <mat-option *ngFor="let member of (users$ | async)" [value]="member.uid">{{member.first_name}} {{member.last_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col text-right">
        <button mat-raised-button color="primary">
          <mat-icon matListIcon>playlist_add</mat-icon>
          <span>Add Todolist</span>
        </button>
      </div>
    </div>
  </form>
</div>
