<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Title" [formControl]="todolistTitle" (change)="changeTitle()">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select placeholder="Members" placeholder="Members" [formControl]="membersSelect" (selectionChange)="changeMembers()"
          multiple>
          <mat-option *ngFor="let member of users" [value]="member.uid">{{member.first_name}} {{member.last_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-1 text-center">
      <button mat-icon-button color="warn" (click)="removeTodolist()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
