<form [formGroup]="createTodoForm" (submit)="createTodo()">
  <mat-form-field appearance="fill">
    <mat-label>Add new task</mat-label>
    <input matInput placeholder="Enter task description" formControlName="title">
    <mat-icon matSuffix (click)="createTodo()" color="primary">add_circle_outline</mat-icon>
  </mat-form-field>
</form>
