<fire-todolist-header
  *ngIf="(todolist$ | async) && (users$ | async).length > 0"
  [todolist]="todolist$ | async"
  [users]="users$ | async"
  (todolistChange)="updateTodolist($event)"
  (remove)="removeTodolist($event)"></fire-todolist-header>
<fire-create-todo-form (create)="createTodo($event)"></fire-create-todo-form>
<fire-loading-spinner *ngIf="isLoading$ | async"></fire-loading-spinner>
<fire-todo-item *ngFor="let todo of todos$ | async" [todo]="todo" (checkboxClick)="toggleTodoState($event)" (remove)="removeTodo($event)"></fire-todo-item>
