<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="First name" formControlName="first_name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Last name" formControlName="last_name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="errorMessage" class="registerError">
        {{ errorMessage }}
      </p>

      <p class="registerButtons">
        <button color="primary" type="submit" mat-button>Register</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
