:host {
  display: flex;
  justify-content: center;
  margin: 72px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.registerError {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.registerButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
