@import '~src/assets/styles/vars';

:host {
  display: flex;
  padding: 5px 10px;
  outline: none;
  .TodoItem-content {
    display: flex;
    flex: 1 1 auto;
    padding: 0 10px;
    align-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
  * {
    outline: none;
  }
}
