<button mat-icon-button class="TodoItem-checkButton" (click)="toggleCompleted()" color="primary">
  <mat-icon>{{ completed ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
</button>
<div class="TodoItem-content">
  <p>{{task}}</p>
</div>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item color="warn" (click)="removeTodo()">Remove</button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>
