<h1 mat-dialog-title>Confirm deleting?</h1>
<div mat-dialog-content>
  <p>Do You want to delete this item?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="1" color="warn">Delete</button>
</div>
