<div class="container">
  <div class="row">
    <div class="col-3">
      <fire-todolists-sidebar>
        <a mat-list-item [routerLink]="['create']" routerLinkActive="active">
          <mat-icon matListIcon>playlist_add</mat-icon><span>Add new Todolist</span>
        </a>
        <fire-loading-spinner *ngIf="isLoading$ | async"></fire-loading-spinner>
        <a mat-list-item *ngFor="let todolist of todolists$ | async" [routerLink]="[todolist.id]" routerLinkActive="active">{{todolist.title}}</a>
      </fire-todolists-sidebar>
    </div>
    <div class="col-9">
      <fire-todos-nav-container>
        <router-outlet></router-outlet>
      </fire-todos-nav-container>
    </div>
  </div>
</div>
