@import '~src/assets/styles/vars';

:host {
  position: relative;
  display: block;
  border-radius: $bd-radius;
  background-color: #fff;
  box-shadow: $b-shadow-std;
  .mat-nav-list {
    padding-top: 0;
  }
}
